@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Bug Tracker</h1>
    <p class="lead">Project Management Tool</p>
    <hr />
    <p>Click <i class="fas fa-long-arrow-alt-down"></i> to demo. Or login / register in the top right</p>
    <p><a href="/Account/Login" class="btn btn-warning btn-lg">Demo &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create <i class="fas fa-folder-plus"></i></h2>
        <p>
            Users have the ability to create an account, projects and issues.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Edit <i class="fas fa-pencil-alt"></i></h2>
        <p>Edit your projects and issues as the projects change and progress. Or delete them if you're done with them!</p>
    </div>
    <div class="col-md-4">
        <h2>Share <i class="fas fa-users"></i></h2>
        <p>Share your project with other users. They can create issues and edit progress. But they can't delete or harm your project.</p>
    </div>
</div>